{
  "swagger": "2.0",
  "info": {
    "description": "With the PureCloud Platform API, you can control all aspects of your PureCloud environment. With the APIs you can access the system configuration, manage conversations and more.",
    "version": "v2",
    "title": "PureCloud Platform API",
    "termsOfService": "https://help.genesys.cloud/articles/terms-and-conditions/",
    "contact": {
      "name": "PureCloud Developer Evangelists",
      "url": "https://developer.genesys.cloud/",
      "email": "DeveloperEvangelists@genesys.com"
    },
    "license": {
      "name": "UNLICENSED",
      "url": "https://help.genesys.cloud/articles/terms-and-conditions/"
    }
  },
  "host": "api.mypurecloud.com",
  "basePath": null,
  "paths": {
    "/api/v2/architect/prompts": {
      "get": {
        "operationId": "getArchitectPrompts",
        "summary": "Get a pageable list of user prompts",
        "parameters": [
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "type": "integer",
            "schema": null
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "schema": null
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "type": "array",
            "schema": null
          },
          {
            "name": "description",
            "in": "query",
            "required": false,
            "type": "string",
            "schema": null
          },
          {
            "name": "nameOrDescription",
            "in": "query",
            "required": false,
            "type": "string",
            "schema": null
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "type": "string",
            "schema": null
          },
          {
            "name": "sortOrder",
            "in": "query",
            "required": false,
            "type": "string",
            "schema": null
          },
          {
            "name": "includeMediaUris",
            "in": "query",
            "required": false,
            "type": "boolean",
            "schema": null
          },
          {
            "name": "includeResources",
            "in": "query",
            "required": false,
            "type": "boolean",
            "schema": null
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "type": "array",
            "schema": null
          }
        ]
      },
      "post": {
        "operationId": "postArchitectPrompts",
        "summary": "Create a new user prompt",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "type": null,
            "schema": {
              "$ref": "#/definitions/Prompt"
            }
          }
        ]
      },
      "delete": {
        "operationId": "deleteArchitectPrompts",
        "summary": "Batch-delete a list of prompts",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "type": "array",
            "schema": null
          }
        ]
      }
    },
    "/api/v2/architect/prompts/{promptId}": {
      "get": {
        "operationId": "getArchitectPrompt",
        "summary": "Get specified user prompt",
        "parameters": [
          {
            "name": "promptId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "includeMediaUris",
            "in": "query",
            "required": false,
            "type": "boolean",
            "schema": null
          },
          {
            "name": "includeResources",
            "in": "query",
            "required": false,
            "type": "boolean",
            "schema": null
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "type": "array",
            "schema": null
          }
        ]
      },
      "put": {
        "operationId": "putArchitectPrompt",
        "summary": "Update specified user prompt",
        "parameters": [
          {
            "name": "promptId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "type": null,
            "schema": {
              "$ref": "#/definitions/Prompt"
            }
          }
        ]
      },
      "delete": {
        "operationId": "deleteArchitectPrompt",
        "summary": "Delete specified user prompt",
        "parameters": [
          {
            "name": "promptId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "allResources",
            "in": "query",
            "required": false,
            "type": "boolean",
            "schema": null
          }
        ]
      }
    },
    "/api/v2/architect/prompts/{promptId}/history": {
      "post": {
        "operationId": "postArchitectPromptHistory",
        "summary": "Generate prompt history",
        "parameters": [
          {
            "name": "promptId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          }
        ]
      }
    },
    "/api/v2/architect/prompts/{promptId}/history/{historyId}": {
      "get": {
        "operationId": "getArchitectPromptHistoryHistoryId",
        "summary": "Get generated prompt history",
        "parameters": [
          {
            "name": "promptId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "historyId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "type": "integer",
            "schema": null
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "schema": null
          },
          {
            "name": "sortOrder",
            "in": "query",
            "required": false,
            "type": "string",
            "schema": null
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "type": "string",
            "schema": null
          },
          {
            "name": "action",
            "in": "query",
            "required": false,
            "type": "array",
            "schema": null
          }
        ]
      }
    },
    "/api/v2/architect/prompts/{promptId}/resources": {
      "get": {
        "operationId": "getArchitectPromptResources",
        "summary": "Get a pageable list of user prompt resources",
        "parameters": [
          {
            "name": "promptId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "type": "integer",
            "schema": null
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "schema": null
          }
        ]
      },
      "post": {
        "operationId": "postArchitectPromptResources",
        "summary": "Create a new user prompt resource",
        "parameters": [
          {
            "name": "promptId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "type": null,
            "schema": {
              "$ref": "#/definitions/PromptAssetCreate"
            }
          }
        ]
      }
    },
    "/api/v2/architect/prompts/{promptId}/resources/{languageCode}": {
      "get": {
        "operationId": "getArchitectPromptResource",
        "summary": "Get specified user prompt resource",
        "parameters": [
          {
            "name": "promptId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "languageCode",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          }
        ]
      },
      "put": {
        "operationId": "putArchitectPromptResource",
        "summary": "Update specified user prompt resource",
        "parameters": [
          {
            "name": "promptId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "languageCode",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "type": null,
            "schema": {
              "$ref": "#/definitions/PromptAsset"
            }
          }
        ]
      },
      "delete": {
        "operationId": "deleteArchitectPromptResource",
        "summary": "Delete specified user prompt resource",
        "parameters": [
          {
            "name": "promptId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "languageCode",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          }
        ]
      }
    },
    "/api/v2/architect/prompts/{promptId}/resources/{languageCode}/audio": {
      "delete": {
        "operationId": "deleteArchitectPromptResourceAudio",
        "summary": "Delete specified user prompt resource audio",
        "parameters": [
          {
            "name": "promptId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "languageCode",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          }
        ]
      }
    },
    "/api/v2/authorization/divisions": {
      "get": {
        "operationId": "getAuthorizationDivisions",
        "summary": "Retrieve a list of all divisions defined for the organization",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "schema": null
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "type": "integer",
            "schema": null
          }
        ]
      }
    },
    "/api/v2/authorization/divisions/home": {
      "get": {
        "operationId": "getAuthorizationDivisionsHome",
        "summary": "Retrieve the home division for the organization",
        "parameters": []
      }
    },
    "/api/v2/authorization/products": {
      "get": {
        "operationId": "getAuthorizationProducts",
        "summary": "Get the list of entitled Genesys Cloud products for the org",
        "parameters": []
      }
    },
    "/api/v2/authorization/roles": {
      "get": {
        "operationId": "getAuthorizationRoles",
        "summary": "Retrieve a list of all roles defined for the organization",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "schema": null
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "type": "integer",
            "schema": null
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "type": "string",
            "schema": null
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "type": "array",
            "schema": null
          },
          {
            "name": "nextPage",
            "in": "query",
            "required": false,
            "type": "string",
            "schema": null
          },
          {
            "name": "previousPage",
            "in": "query",
            "required": false,
            "type": "string",
            "schema": null
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "type": "string",
            "schema": null
          },
          {
            "name": "permission",
            "in": "query",
            "required": false,
            "type": "array",
            "schema": null
          },
          {
            "name": "defaultRoleId",
            "in": "query",
            "required": false,
            "type": "array",
            "schema": null
          },
          {
            "name": "userCount",
            "in": "query",
            "required": false,
            "type": "boolean",
            "schema": null
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "type": "array",
            "schema": null
          }
        ]
      },
      "post": {
        "operationId": "postAuthorizationRoles",
        "summary": "Create an organization role.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "type": null,
            "schema": {
              "$ref": "#/definitions/DomainOrganizationRoleCreate"
            }
          }
        ]
      }
    },
    "/api/v2/authorization/roles/default": {
      "post": {
        "operationId": "postAuthorizationRolesDefault",
        "summary": "Restores all default roles",
        "parameters": [
          {
            "name": "force",
            "in": "query",
            "required": false,
            "type": "boolean",
            "schema": null
          }
        ]
      },
      "put": {
        "operationId": "putAuthorizationRolesDefault",
        "summary": "Restore specified default roles",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "type": null,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DomainOrganizationRole"
              }
            }
          }
        ]
      }
    },
    "/api/v2/authorization/roles/settings": {
      "get": {
        "operationId": "getAuthorizationRolesSettings",
        "summary": "Get authorization role settings",
        "parameters": []
      },
      "put": {
        "operationId": "putAuthorizationRolesSettings",
        "summary": "Change authorization role settings",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "type": null,
            "schema": {
              "$ref": "#/definitions/RoleSettings"
            }
          }
        ]
      }
    },
    "/api/v2/authorization/roles/{leftRoleId}/comparedefault/{rightRoleId}": {
      "get": {
        "operationId": "getAuthorizationRoleComparedefaultRightRoleId",
        "summary": "Get an org role to default role comparison",
        "parameters": [
          {
            "name": "leftRoleId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "rightRoleId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          }
        ]
      },
      "post": {
        "operationId": "postAuthorizationRoleComparedefaultRightRoleId",
        "summary": "Get an unsaved org role to default role comparison",
        "parameters": [
          {
            "name": "leftRoleId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "rightRoleId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "type": null,
            "schema": {
              "$ref": "#/definitions/DomainOrganizationRole"
            }
          }
        ]
      }
    },
    "/api/v2/authorization/roles/{roleId}": {
      "get": {
        "operationId": "getAuthorizationRole",
        "summary": "Get a single organization role.",
        "parameters": [
          {
            "name": "roleId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "userCount",
            "in": "query",
            "required": false,
            "type": "boolean",
            "schema": null
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "type": "array",
            "schema": null
          }
        ]
      },
      "post": {
        "operationId": "postAuthorizationRole",
        "summary": "Bulk-grant subjects and divisions with an organization role.",
        "parameters": [
          {
            "name": "roleId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "type": null,
            "schema": {
              "$ref": "#/definitions/SubjectDivisions"
            }
          },
          {
            "name": "subjectType",
            "in": "query",
            "required": false,
            "type": "string",
            "schema": null
          }
        ]
      },
      "put": {
        "operationId": "putAuthorizationRole",
        "summary": "Update an organization role.",
        "parameters": [
          {
            "name": "roleId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "type": null,
            "schema": {
              "$ref": "#/definitions/DomainOrganizationRoleUpdate"
            }
          }
        ]
      },
      "delete": {
        "operationId": "deleteAuthorizationRole",
        "summary": "Delete an organization role.",
        "parameters": [
          {
            "name": "roleId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          }
        ]
      },
      "patch": {
        "operationId": "patchAuthorizationRole",
        "summary": "Patch Organization Role for needsUpdate Field",
        "parameters": [
          {
            "name": "roleId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "type": null,
            "schema": {
              "$ref": "#/definitions/DomainOrganizationRole"
            }
          }
        ]
      }
    },
    "/api/v2/authorization/roles/{roleId}/subjectgrants": {
      "get": {
        "operationId": "getAuthorizationRoleSubjectgrants",
        "summary": "Get the subjects' granted divisions in the specified role.",
        "parameters": [
          {
            "name": "roleId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "schema": null
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "type": "integer",
            "schema": null
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "type": "string",
            "schema": null
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "type": "array",
            "schema": null
          },
          {
            "name": "nextPage",
            "in": "query",
            "required": false,
            "type": "string",
            "schema": null
          },
          {
            "name": "previousPage",
            "in": "query",
            "required": false,
            "type": "string",
            "schema": null
          }
        ]
      }
    },
    "/api/v2/authorization/roles/{roleId}/users": {
      "get": {
        "operationId": "getAuthorizationRoleUsers",
        "summary": "Get a list of the users in a specified role.",
        "parameters": [
          {
            "name": "roleId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "schema": null
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "type": "integer",
            "schema": null
          }
        ]
      }
    },
    "/api/v2/authorization/roles/{roleId}/users/add": {
      "put": {
        "operationId": "putAuthorizationRoleUsersAdd",
        "summary": "Sets the users for the role",
        "parameters": [
          {
            "name": "roleId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "type": null,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ]
      }
    },
    "/api/v2/authorization/roles/{roleId}/users/remove": {
      "put": {
        "operationId": "putAuthorizationRoleUsersRemove",
        "summary": "Removes the users from the role",
        "parameters": [
          {
            "name": "roleId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "type": null,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ]
      }
    },
    "/api/v2/authorization/subjects/me": {
      "get": {
        "operationId": "getAuthorizationSubjectsMe",
        "summary": "Returns a listing of roles and permissions for the currently authenticated user.",
        "parameters": [
          {
            "name": "includeDuplicates",
            "in": "query",
            "required": false,
            "type": "boolean",
            "schema": null
          }
        ]
      }
    },
    "/api/v2/authorization/subjects/rolecounts": {
      "get": {
        "operationId": "getAuthorizationSubjectsRolecounts",
        "summary": "Get the count of roles granted to a list of subjects",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "type": "array",
            "schema": null
          }
        ]
      }
    },
    "/api/v2/authorization/subjects/{subjectId}": {
      "get": {
        "operationId": "getAuthorizationSubject",
        "summary": "Returns a listing of roles and permissions for a user.",
        "parameters": [
          {
            "name": "subjectId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "includeDuplicates",
            "in": "query",
            "required": false,
            "type": "boolean",
            "schema": null
          }
        ]
      }
    },
    "/api/v2/authorization/subjects/{subjectId}/bulkadd": {
      "post": {
        "operationId": "postAuthorizationSubjectBulkadd",
        "summary": "Bulk-grant roles and divisions to a subject.",
        "parameters": [
          {
            "name": "subjectId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "type": null,
            "schema": {
              "$ref": "#/definitions/RoleDivisionGrants"
            }
          },
          {
            "name": "subjectType",
            "in": "query",
            "required": false,
            "type": "string",
            "schema": null
          }
        ]
      }
    },
    "/api/v2/authorization/subjects/{subjectId}/bulkremove": {
      "post": {
        "operationId": "postAuthorizationSubjectBulkremove",
        "summary": "Bulk-remove grants from a subject.",
        "parameters": [
          {
            "name": "subjectId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "type": null,
            "schema": {
              "$ref": "#/definitions/RoleDivisionGrants"
            }
          }
        ]
      }
    },
    "/api/v2/authorization/subjects/{subjectId}/bulkreplace": {
      "post": {
        "operationId": "postAuthorizationSubjectBulkreplace",
        "summary": "Replace subject's roles and divisions with the exact list supplied in the request.",
        "parameters": [
          {
            "name": "subjectId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "type": null,
            "schema": {
              "$ref": "#/definitions/RoleDivisionGrants"
            }
          },
          {
            "name": "subjectType",
            "in": "query",
            "required": false,
            "type": "string",
            "schema": null
          }
        ]
      }
    },
    "/api/v2/authorization/subjects/{subjectId}/divisions/{divisionId}/roles/{roleId}": {
      "post": {
        "operationId": "postAuthorizationSubjectDivisionRole",
        "summary": "Make a grant of a role in a division",
        "parameters": [
          {
            "name": "subjectId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "divisionId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "roleId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "subjectType",
            "in": "query",
            "required": false,
            "type": "string",
            "schema": null
          }
        ]
      },
      "delete": {
        "operationId": "deleteAuthorizationSubjectDivisionRole",
        "summary": "Delete a grant of a role in a division",
        "parameters": [
          {
            "name": "subjectId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "divisionId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "roleId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          }
        ]
      }
    },
    "/api/v2/flows": {
      "get": {
        "operationId": "getFlows",
        "summary": "Get a pageable list of flows, filtered by query parameters",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": false,
            "type": "array",
            "schema": null
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "type": "integer",
            "schema": null
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "schema": null
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "type": "string",
            "schema": null
          },
          {
            "name": "sortOrder",
            "in": "query",
            "required": false,
            "type": "string",
            "schema": null
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "type": "array",
            "schema": null
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "type": "string",
            "schema": null
          },
          {
            "name": "description",
            "in": "query",
            "required": false,
            "type": "string",
            "schema": null
          },
          {
            "name": "nameOrDescription",
            "in": "query",
            "required": false,
            "type": "string",
            "schema": null
          },
          {
            "name": "publishVersionId",
            "in": "query",
            "required": false,
            "type": "string",
            "schema": null
          },
          {
            "name": "editableBy",
            "in": "query",
            "required": false,
            "type": "string",
            "schema": null
          },
          {
            "name": "lockedBy",
            "in": "query",
            "required": false,
            "type": "string",
            "schema": null
          },
          {
            "name": "lockedByClientId",
            "in": "query",
            "required": false,
            "type": "string",
            "schema": null
          },
          {
            "name": "secure",
            "in": "query",
            "required": false,
            "type": "string",
            "schema": null
          },
          {
            "name": "deleted",
            "in": "query",
            "required": false,
            "type": "boolean",
            "schema": null
          },
          {
            "name": "includeSchemas",
            "in": "query",
            "required": false,
            "type": "boolean",
            "schema": null
          },
          {
            "name": "virtualAgentEnabled",
            "in": "query",
            "required": false,
            "type": "boolean",
            "schema": null
          },
          {
            "name": "publishedAfter",
            "in": "query",
            "required": false,
            "type": "string",
            "schema": null
          },
          {
            "name": "publishedBefore",
            "in": "query",
            "required": false,
            "type": "string",
            "schema": null
          },
          {
            "name": "divisionId",
            "in": "query",
            "required": false,
            "type": "array",
            "schema": null
          }
        ]
      },
      "post": {
        "operationId": "postFlows",
        "summary": "Create flow",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "type": null,
            "schema": {
              "$ref": "#/definitions/Flow"
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "type": "string",
            "schema": null
          }
        ]
      },
      "delete": {
        "operationId": "deleteFlows",
        "summary": "Batch-delete a list of flows",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "type": "array",
            "schema": null
          }
        ]
      }
    },
    "/api/v2/flows/actions/checkin": {
      "post": {
        "operationId": "postFlowsActionsCheckin",
        "summary": "Check-in flow",
        "parameters": [
          {
            "name": "flow",
            "in": "query",
            "required": true,
            "type": "string",
            "schema": null
          }
        ]
      }
    },
    "/api/v2/flows/actions/checkout": {
      "post": {
        "operationId": "postFlowsActionsCheckout",
        "summary": "Check-out flow",
        "parameters": [
          {
            "name": "flow",
            "in": "query",
            "required": true,
            "type": "string",
            "schema": null
          }
        ]
      }
    },
    "/api/v2/flows/actions/deactivate": {
      "post": {
        "operationId": "postFlowsActionsDeactivate",
        "summary": "Deactivate flow",
        "parameters": [
          {
            "name": "flow",
            "in": "query",
            "required": true,
            "type": "string",
            "schema": null
          }
        ]
      }
    },
    "/api/v2/flows/actions/publish": {
      "post": {
        "operationId": "postFlowsActionsPublish",
        "summary": "Publish flow",
        "parameters": [
          {
            "name": "flow",
            "in": "query",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "version",
            "in": "query",
            "required": false,
            "type": "string",
            "schema": null
          }
        ]
      }
    },
    "/api/v2/flows/actions/revert": {
      "post": {
        "operationId": "postFlowsActionsRevert",
        "summary": "Revert flow",
        "parameters": [
          {
            "name": "flow",
            "in": "query",
            "required": true,
            "type": "string",
            "schema": null
          }
        ]
      }
    },
    "/api/v2/flows/actions/unlock": {
      "post": {
        "operationId": "postFlowsActionsUnlock",
        "summary": "Unlock flow",
        "parameters": [
          {
            "name": "flow",
            "in": "query",
            "required": true,
            "type": "string",
            "schema": null
          }
        ]
      }
    },
    "/api/v2/flows/datatables": {
      "get": {
        "operationId": "getFlowsDatatables",
        "summary": "Retrieve a list of datatables for the org",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "type": "string",
            "schema": null
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "type": "integer",
            "schema": null
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "schema": null
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "type": "string",
            "schema": null
          },
          {
            "name": "sortOrder",
            "in": "query",
            "required": false,
            "type": "string",
            "schema": null
          },
          {
            "name": "divisionId",
            "in": "query",
            "required": false,
            "type": "array",
            "schema": null
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "type": "string",
            "schema": null
          }
        ]
      },
      "post": {
        "operationId": "postFlowsDatatables",
        "summary": "Create a new datatable with the specified json-schema definition",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "type": null,
            "schema": {
              "$ref": "#/definitions/DataTable"
            }
          }
        ]
      }
    },
    "/api/v2/flows/datatables/divisionviews": {
      "get": {
        "operationId": "getFlowsDatatablesDivisionviews",
        "summary": "Retrieve a list of datatables for the org",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "type": "string",
            "schema": null
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "type": "integer",
            "schema": null
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "schema": null
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "type": "string",
            "schema": null
          },
          {
            "name": "sortOrder",
            "in": "query",
            "required": false,
            "type": "string",
            "schema": null
          },
          {
            "name": "divisionId",
            "in": "query",
            "required": false,
            "type": "array",
            "schema": null
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "type": "string",
            "schema": null
          }
        ]
      }
    },
    "/api/v2/flows/datatables/divisionviews/{datatableId}": {
      "get": {
        "operationId": "getFlowsDatatablesDivisionview",
        "summary": "Returns a specific datatable by id",
        "parameters": [
          {
            "name": "datatableId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "type": "string",
            "schema": null
          }
        ]
      }
    },
    "/api/v2/flows/datatables/{datatableId}": {
      "get": {
        "operationId": "getFlowsDatatable",
        "summary": "Returns a specific datatable by id",
        "parameters": [
          {
            "name": "datatableId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "type": "string",
            "schema": null
          }
        ]
      },
      "put": {
        "operationId": "putFlowsDatatable",
        "summary": "Updates a specific datatable by id",
        "parameters": [
          {
            "name": "datatableId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "type": "string",
            "schema": null
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "type": null,
            "schema": {
              "$ref": "#/definitions/DataTable"
            }
          }
        ]
      },
      "delete": {
        "operationId": "deleteFlowsDatatable",
        "summary": "deletes a specific datatable by id",
        "parameters": [
          {
            "name": "datatableId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "force",
            "in": "query",
            "required": false,
            "type": "boolean",
            "schema": null
          }
        ]
      }
    },
    "/api/v2/flows/datatables/{datatableId}/export/jobs": {
      "post": {
        "operationId": "postFlowsDatatableExportJobs",
        "summary": "Begin an export process for exporting all rows from a datatable",
        "parameters": [
          {
            "name": "datatableId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          }
        ]
      }
    },
    "/api/v2/flows/datatables/{datatableId}/export/jobs/{exportJobId}": {
      "get": {
        "operationId": "getFlowsDatatableExportJob",
        "summary": "Returns the state information about an export job",
        "parameters": [
          {
            "name": "datatableId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "exportJobId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          }
        ]
      }
    },
    "/api/v2/flows/datatables/{datatableId}/import/csv/jobs": {
      "post": {
        "operationId": "postFlowsDatatableImportCsvJobs",
        "summary": "Begin an import process for importing rows from a CSV file into a datatable. CSV file is uploaded by performing a PUT request against the URL in the returned 'uploadURI' field. Headers for the PUT request must contain all headers contained in the returned 'uploadHeaders' field.",
        "parameters": [
          {
            "name": "datatableId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "type": null,
            "schema": {
              "$ref": "#/definitions/DataTableImportJob"
            }
          }
        ]
      }
    },
    "/api/v2/flows/datatables/{datatableId}/import/jobs": {
      "get": {
        "operationId": "getFlowsDatatableImportJobs",
        "summary": "Get all recent import jobs",
        "parameters": [
          {
            "name": "datatableId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "type": "integer",
            "schema": null
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "schema": null
          }
        ]
      },
      "post": {
        "operationId": "postFlowsDatatableImportJobs",
        "summary": "Begin an import process for importing rows into a datatable. Apps should migrate to use POST /api/v2/flows/datatables/{datatableId}/import/csv/jobs instead",
        "parameters": [
          {
            "name": "datatableId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "type": null,
            "schema": {
              "$ref": "#/definitions/DataTableImportJob"
            }
          }
        ]
      }
    },
    "/api/v2/flows/datatables/{datatableId}/import/jobs/{importJobId}": {
      "get": {
        "operationId": "getFlowsDatatableImportJob",
        "summary": "Returns the state information about an import job",
        "parameters": [
          {
            "name": "datatableId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "importJobId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          }
        ]
      }
    },
    "/api/v2/flows/datatables/{datatableId}/rows": {
      "get": {
        "operationId": "getFlowsDatatableRows",
        "summary": "Returns the rows for the datatable with the given id",
        "parameters": [
          {
            "name": "datatableId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "type": "integer",
            "schema": null
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "schema": null
          },
          {
            "name": "showbrief",
            "in": "query",
            "required": false,
            "type": "boolean",
            "schema": null
          },
          {
            "name": "sortOrder",
            "in": "query",
            "required": false,
            "type": "string",
            "schema": null
          }
        ]
      },
      "post": {
        "operationId": "postFlowsDatatableRows",
        "summary": "Create a new row entry for the datatable.",
        "parameters": [
          {
            "name": "datatableId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "dataTableRow",
            "in": "body",
            "required": true,
            "type": null,
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "object"
              }
            }
          }
        ]
      }
    },
    "/api/v2/flows/datatables/{datatableId}/rows/{rowId}": {
      "get": {
        "operationId": "getFlowsDatatableRow",
        "summary": "Returns a specific row for the datatable",
        "parameters": [
          {
            "name": "datatableId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "rowId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "showbrief",
            "in": "query",
            "required": false,
            "type": "boolean",
            "schema": null
          }
        ]
      },
      "put": {
        "operationId": "putFlowsDatatableRow",
        "summary": "Update a row entry",
        "parameters": [
          {
            "name": "datatableId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "rowId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "type": null,
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "object"
              }
            }
          }
        ]
      },
      "delete": {
        "operationId": "deleteFlowsDatatableRow",
        "summary": "Delete a row entry",
        "parameters": [
          {
            "name": "datatableId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "rowId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          }
        ]
      }
    },
    "/api/v2/flows/divisionviews": {
      "get": {
        "operationId": "getFlowsDivisionviews",
        "summary": "Get a pageable list of basic flow information objects filterable by query parameters.",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": false,
            "type": "array",
            "schema": null
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "type": "integer",
            "schema": null
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "schema": null
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "type": "string",
            "schema": null
          },
          {
            "name": "sortOrder",
            "in": "query",
            "required": false,
            "type": "string",
            "schema": null
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "type": "array",
            "schema": null
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "type": "string",
            "schema": null
          },
          {
            "name": "publishVersionId",
            "in": "query",
            "required": false,
            "type": "string",
            "schema": null
          },
          {
            "name": "publishedAfter",
            "in": "query",
            "required": false,
            "type": "string",
            "schema": null
          },
          {
            "name": "publishedBefore",
            "in": "query",
            "required": false,
            "type": "string",
            "schema": null
          },
          {
            "name": "divisionId",
            "in": "query",
            "required": false,
            "type": "array",
            "schema": null
          },
          {
            "name": "includeSchemas",
            "in": "query",
            "required": false,
            "type": "boolean",
            "schema": null
          }
        ]
      }
    },
    "/api/v2/flows/executions": {
      "post": {
        "operationId": "postFlowsExecutions",
        "summary": "Launch an instance of a flow definition, for flow types that support it such as the 'workflow' type.",
        "parameters": [
          {
            "name": "flowLaunchRequest",
            "in": "body",
            "required": true,
            "type": null,
            "schema": {
              "$ref": "#/definitions/FlowExecutionLaunchRequest"
            }
          }
        ]
      }
    },
    "/api/v2/flows/executions/{flowExecutionId}": {
      "get": {
        "operationId": "getFlowsExecution",
        "summary": "Get a flow execution's details. Flow execution details are available for several days after the flow is started.",
        "parameters": [
          {
            "name": "flowExecutionId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          }
        ]
      }
    },
    "/api/v2/flows/export/jobs": {
      "post": {
        "operationId": "postFlowsExportJobs",
        "summary": "Register Architect Export Job",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "type": null,
            "schema": {
              "$ref": "#/definitions/RegisterArchitectExportJob"
            }
          }
        ]
      }
    },
    "/api/v2/flows/export/jobs/{jobId}": {
      "get": {
        "operationId": "getFlowsExportJob",
        "summary": "Fetch Architect Export Job Status",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "type": "array",
            "schema": null
          }
        ]
      }
    },
    "/api/v2/flows/instances/jobs": {
      "post": {
        "operationId": "postFlowsInstancesJobs",
        "summary": "Start a process (job) that will prepare a list of execution data IDs for download.",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "type": "string",
            "schema": null
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "type": null,
            "schema": {
              "$ref": "#/definitions/ExecutionDataRequest"
            }
          }
        ]
      }
    },
    "/api/v2/flows/instances/jobs/{jobId}": {
      "get": {
        "operationId": "getFlowsInstancesJob",
        "summary": "Get the status and/or results of an asynchronous flow execution data retrieval job",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          }
        ]
      }
    },
    "/api/v2/flows/instances/query": {
      "post": {
        "operationId": "postFlowsInstancesQuery",
        "summary": "Query the database of existing flow histories to look for particular flow criteria",
        "parameters": [
          {
            "name": "indexOnly",
            "in": "query",
            "required": false,
            "type": "boolean",
            "schema": null
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "schema": null
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "type": null,
            "schema": {
              "$ref": "#/definitions/CriteriaQuery"
            }
          }
        ]
      }
    },
    "/api/v2/flows/instances/querycapabilities": {
      "get": {
        "operationId": "getFlowsInstancesQuerycapabilities",
        "summary": "Retrieve a list of capabilities that the org can use to query for execution data",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "type": "string",
            "schema": null
          }
        ]
      }
    },
    "/api/v2/flows/instances/settings/executiondata": {
      "get": {
        "operationId": "getFlowsInstancesSettingsExecutiondata",
        "summary": "Get the execution history enabled setting.",
        "parameters": []
      },
      "patch": {
        "operationId": "patchFlowsInstancesSettingsExecutiondata",
        "summary": "Edit the execution history enabled setting.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "type": null,
            "schema": {
              "$ref": "#/definitions/ExecutionDataSettingsRequest"
            }
          }
        ]
      }
    },
    "/api/v2/flows/instances/settings/loglevels": {
      "get": {
        "operationId": "getFlowsInstancesSettingsLoglevels",
        "summary": "Retrieve a list of LogLevels for the organization.",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "type": "array",
            "schema": null
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "type": "integer",
            "schema": null
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "schema": null
          }
        ]
      }
    },
    "/api/v2/flows/instances/settings/loglevels/characteristics": {
      "get": {
        "operationId": "getFlowsInstancesSettingsLoglevelsCharacteristics",
        "summary": "Gets the available flow log level characteristics for this organization.",
        "parameters": []
      }
    },
    "/api/v2/flows/instances/settings/loglevels/default": {
      "get": {
        "operationId": "getFlowsInstancesSettingsLoglevelsDefault",
        "summary": "Returns the flow default log level.",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "type": "array",
            "schema": null
          }
        ]
      },
      "put": {
        "operationId": "putFlowsInstancesSettingsLoglevelsDefault",
        "summary": "Edit the flow default log level.",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "type": "array",
            "schema": null
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "type": null,
            "schema": {
              "$ref": "#/definitions/FlowLogLevelRequest"
            }
          }
        ]
      },
      "delete": {
        "operationId": "deleteFlowsInstancesSettingsLoglevelsDefault",
        "summary": "Resets the org log level to default, base",
        "parameters": []
      }
    },
    "/api/v2/flows/instances/{instanceId}": {
      "get": {
        "operationId": "getFlowsInstance",
        "summary": "Start a process (job) to prepare a download of a singular flow execution data instance by Id",
        "parameters": [
          {
            "name": "instanceId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "type": "string",
            "schema": null
          }
        ]
      }
    },
    "/api/v2/flows/jobs": {
      "post": {
        "operationId": "postFlowsJobs",
        "summary": "Register Architect Job. Returns a URL where a file, such as an Architect flow YAML file, can be PUT which will then initiate the job.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "type": null,
            "schema": {
              "$ref": "#/definitions/RegisterArchitectJobRequest"
            }
          }
        ]
      }
    },
    "/api/v2/flows/jobs/{jobId}": {
      "get": {
        "operationId": "getFlowsJob",
        "summary": "Fetch Architect Job Status",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "type": "array",
            "schema": null
          }
        ]
      }
    },
    "/api/v2/flows/milestones": {
      "get": {
        "operationId": "getFlowsMilestones",
        "summary": "Get a pageable list of flow milestones, filtered by query parameters",
        "parameters": [
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "type": "integer",
            "schema": null
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "schema": null
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "type": "string",
            "schema": null
          },
          {
            "name": "sortOrder",
            "in": "query",
            "required": false,
            "type": "string",
            "schema": null
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "type": "array",
            "schema": null
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "type": "string",
            "schema": null
          },
          {
            "name": "description",
            "in": "query",
            "required": false,
            "type": "string",
            "schema": null
          },
          {
            "name": "nameOrDescription",
            "in": "query",
            "required": false,
            "type": "string",
            "schema": null
          },
          {
            "name": "divisionId",
            "in": "query",
            "required": false,
            "type": "array",
            "schema": null
          }
        ]
      },
      "post": {
        "operationId": "postFlowsMilestones",
        "summary": "Create a flow milestone",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "type": null,
            "schema": {
              "$ref": "#/definitions/FlowMilestone"
            }
          }
        ]
      }
    },
    "/api/v2/flows/milestones/divisionviews": {
      "get": {
        "operationId": "getFlowsMilestonesDivisionviews",
        "summary": "Get a pageable list of basic flow milestone information objects filterable by query parameters.",
        "parameters": [
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "type": "integer",
            "schema": null
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "schema": null
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "type": "string",
            "schema": null
          },
          {
            "name": "sortOrder",
            "in": "query",
            "required": false,
            "type": "string",
            "schema": null
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "type": "array",
            "schema": null
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "type": "string",
            "schema": null
          },
          {
            "name": "divisionId",
            "in": "query",
            "required": false,
            "type": "array",
            "schema": null
          }
        ]
      }
    },
    "/api/v2/flows/milestones/{milestoneId}": {
      "get": {
        "operationId": "getFlowsMilestone",
        "summary": "Get a flow milestone",
        "parameters": [
          {
            "name": "milestoneId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          }
        ]
      },
      "put": {
        "operationId": "putFlowsMilestone",
        "summary": "Updates a flow milestone",
        "parameters": [
          {
            "name": "milestoneId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "type": null,
            "schema": {
              "$ref": "#/definitions/FlowMilestone"
            }
          }
        ]
      },
      "delete": {
        "operationId": "deleteFlowsMilestone",
        "summary": "Delete a flow milestone.",
        "parameters": [
          {
            "name": "milestoneId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          }
        ]
      }
    },
    "/api/v2/flows/outcomes": {
      "get": {
        "operationId": "getFlowsOutcomes",
        "summary": "Get a pageable list of flow outcomes, filtered by query parameters",
        "parameters": [
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "type": "integer",
            "schema": null
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "schema": null
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "type": "string",
            "schema": null
          },
          {
            "name": "sortOrder",
            "in": "query",
            "required": false,
            "type": "string",
            "schema": null
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "type": "array",
            "schema": null
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "type": "string",
            "schema": null
          },
          {
            "name": "description",
            "in": "query",
            "required": false,
            "type": "string",
            "schema": null
          },
          {
            "name": "nameOrDescription",
            "in": "query",
            "required": false,
            "type": "string",
            "schema": null
          },
          {
            "name": "divisionId",
            "in": "query",
            "required": false,
            "type": "array",
            "schema": null
          }
        ]
      },
      "post": {
        "operationId": "postFlowsOutcomes",
        "summary": "Create a flow outcome",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "type": null,
            "schema": {
              "$ref": "#/definitions/FlowOutcome"
            }
          }
        ]
      }
    },
    "/api/v2/flows/outcomes/divisionviews": {
      "get": {
        "operationId": "getFlowsOutcomesDivisionviews",
        "summary": "Get a pageable list of basic flow outcome information objects filterable by query parameters.",
        "parameters": [
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "type": "integer",
            "schema": null
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "schema": null
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "type": "string",
            "schema": null
          },
          {
            "name": "sortOrder",
            "in": "query",
            "required": false,
            "type": "string",
            "schema": null
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "type": "array",
            "schema": null
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "type": "string",
            "schema": null
          },
          {
            "name": "divisionId",
            "in": "query",
            "required": false,
            "type": "array",
            "schema": null
          }
        ]
      }
    },
    "/api/v2/flows/outcomes/{flowOutcomeId}": {
      "get": {
        "operationId": "getFlowsOutcome",
        "summary": "Get a flow outcome",
        "parameters": [
          {
            "name": "flowOutcomeId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          }
        ]
      },
      "put": {
        "operationId": "putFlowsOutcome",
        "summary": "Updates a flow outcome",
        "parameters": [
          {
            "name": "flowOutcomeId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "type": null,
            "schema": {
              "$ref": "#/definitions/FlowOutcome"
            }
          }
        ]
      }
    },
    "/api/v2/flows/{flowId}": {
      "get": {
        "operationId": "getFlow",
        "summary": "Get flow",
        "parameters": [
          {
            "name": "flowId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "deleted",
            "in": "query",
            "required": false,
            "type": "boolean",
            "schema": null
          }
        ]
      },
      "put": {
        "operationId": "putFlow",
        "summary": "Update flow",
        "parameters": [
          {
            "name": "flowId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "type": null,
            "schema": {
              "$ref": "#/definitions/Flow"
            }
          }
        ]
      },
      "delete": {
        "operationId": "deleteFlow",
        "summary": "Delete flow",
        "parameters": [
          {
            "name": "flowId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          }
        ]
      }
    },
    "/api/v2/flows/{flowId}/history": {
      "post": {
        "operationId": "postFlowHistory",
        "summary": "Generate flow history",
        "parameters": [
          {
            "name": "flowId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          }
        ]
      }
    },
    "/api/v2/flows/{flowId}/history/{historyId}": {
      "get": {
        "operationId": "getFlowHistoryHistoryId",
        "summary": "Get generated flow history",
        "parameters": [
          {
            "name": "flowId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "historyId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "type": "integer",
            "schema": null
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "schema": null
          },
          {
            "name": "sortOrder",
            "in": "query",
            "required": false,
            "type": "string",
            "schema": null
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "type": "string",
            "schema": null
          },
          {
            "name": "action",
            "in": "query",
            "required": false,
            "type": "array",
            "schema": null
          }
        ]
      }
    },
    "/api/v2/flows/{flowId}/instances/settings/loglevels": {
      "get": {
        "operationId": "getFlowInstancesSettingsLoglevels",
        "summary": "Retrieves the log level for a flow by flow id.",
        "parameters": [
          {
            "name": "flowId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "type": "array",
            "schema": null
          }
        ]
      },
      "post": {
        "operationId": "postFlowInstancesSettingsLoglevels",
        "summary": "Set the logLevel for a particular flow id",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "type": "array",
            "schema": null
          },
          {
            "name": "flowId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "type": null,
            "schema": {
              "$ref": "#/definitions/FlowLogLevelRequest"
            }
          }
        ]
      },
      "put": {
        "operationId": "putFlowInstancesSettingsLoglevels",
        "summary": "Edit the logLevel for a particular flow id",
        "parameters": [
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "type": "array",
            "schema": null
          },
          {
            "name": "flowId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "type": null,
            "schema": {
              "$ref": "#/definitions/FlowLogLevelRequest"
            }
          }
        ]
      },
      "delete": {
        "operationId": "deleteFlowInstancesSettingsLoglevels",
        "summary": "Deletes a log level for a flow by flow id.",
        "parameters": [
          {
            "name": "flowId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          }
        ]
      }
    },
    "/api/v2/flows/{flowId}/latestconfiguration": {
      "get": {
        "operationId": "getFlowLatestconfiguration",
        "summary": "Get the latest configuration for flow",
        "parameters": [
          {
            "name": "flowId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "deleted",
            "in": "query",
            "required": false,
            "type": "boolean",
            "schema": null
          }
        ]
      }
    },
    "/api/v2/flows/{flowId}/versions": {
      "get": {
        "operationId": "getFlowVersions",
        "summary": "Get flow version list",
        "parameters": [
          {
            "name": "flowId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "type": "integer",
            "schema": null
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "schema": null
          },
          {
            "name": "deleted",
            "in": "query",
            "required": false,
            "type": "boolean",
            "schema": null
          }
        ]
      },
      "post": {
        "operationId": "postFlowVersions",
        "summary": "Create flow version",
        "parameters": [
          {
            "name": "flowId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "type": null,
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "object"
              }
            }
          }
        ]
      }
    },
    "/api/v2/flows/{flowId}/versions/{versionId}": {
      "get": {
        "operationId": "getFlowVersion",
        "summary": "Get flow version",
        "parameters": [
          {
            "name": "flowId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "versionId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "deleted",
            "in": "query",
            "required": false,
            "type": "string",
            "schema": null
          }
        ]
      }
    },
    "/api/v2/flows/{flowId}/versions/{versionId}/configuration": {
      "get": {
        "operationId": "getFlowVersionConfiguration",
        "summary": "Get flow version configuration",
        "parameters": [
          {
            "name": "flowId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "versionId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "deleted",
            "in": "query",
            "required": false,
            "type": "string",
            "schema": null
          }
        ]
      }
    },
    "/api/v2/flows/{flowId}/versions/{versionId}/health": {
      "get": {
        "operationId": "getFlowVersionHealth",
        "summary": "Get overall health scores for all intents present in the NLU domain version associated with the bot flow version.",
        "parameters": [
          {
            "name": "flowId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "versionId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "type": "string",
            "schema": null
          }
        ]
      }
    },
    "/api/v2/flows/{flowId}/versions/{versionId}/intents/{intentId}/health": {
      "get": {
        "operationId": "getFlowVersionIntentHealth",
        "summary": "Get health scores and other health metrics for a specific intent. This includes the health metrics for each utterance in an intent.",
        "parameters": [
          {
            "name": "flowId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "versionId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "intentId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "language",
            "in": "query",
            "required": true,
            "type": "string",
            "schema": null
          }
        ]
      }
    },
    "/api/v2/flows/{flowId}/versions/{versionId}/intents/{intentId}/utterances/{utteranceId}/health": {
      "get": {
        "operationId": "getFlowVersionIntentUtteranceHealth",
        "summary": "Get health metrics associated with a specific utterance of an intent.",
        "parameters": [
          {
            "name": "flowId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "versionId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "intentId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "utteranceId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "language",
            "in": "query",
            "required": true,
            "type": "string",
            "schema": null
          }
        ]
      }
    },
    "/api/v2/groups": {
      "get": {
        "operationId": "getGroups",
        "summary": "Get a group list",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "schema": null
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "type": "integer",
            "schema": null
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "type": "array",
            "schema": null
          },
          {
            "name": "jabberId",
            "in": "query",
            "required": false,
            "type": "array",
            "schema": null
          },
          {
            "name": "sortOrder",
            "in": "query",
            "required": false,
            "type": "string",
            "schema": null
          }
        ]
      },
      "post": {
        "operationId": "postGroups",
        "summary": "Create a group",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "type": null,
            "schema": {
              "$ref": "#/definitions/GroupCreate"
            }
          }
        ]
      }
    },
    "/api/v2/groups/search": {
      "get": {
        "operationId": "getGroupsSearch",
        "summary": "Search groups using the q64 value returned from a previous search",
        "parameters": [
          {
            "name": "q64",
            "in": "query",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "type": "array",
            "schema": null
          }
        ]
      },
      "post": {
        "operationId": "postGroupsSearch",
        "summary": "Search groups",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "type": null,
            "schema": {
              "$ref": "#/definitions/GroupSearchRequest"
            }
          }
        ]
      }
    },
    "/api/v2/groups/{groupId}": {
      "get": {
        "operationId": "getGroup",
        "summary": "Get group",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          }
        ]
      },
      "put": {
        "operationId": "putGroup",
        "summary": "Update group",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "type": null,
            "schema": {
              "$ref": "#/definitions/GroupUpdate"
            }
          }
        ]
      },
      "delete": {
        "operationId": "deleteGroup",
        "summary": "Delete group",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          }
        ]
      }
    },
    "/api/v2/groups/{groupId}/greetings": {
      "get": {
        "operationId": "getGroupGreetings",
        "summary": "Get a list of the Group's Greetings",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "schema": null
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "type": "integer",
            "schema": null
          }
        ]
      },
      "post": {
        "operationId": "postGroupGreetings",
        "summary": "Creates a Greeting for a Group",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "type": null,
            "schema": {
              "$ref": "#/definitions/Greeting"
            }
          }
        ]
      }
    },
    "/api/v2/groups/{groupId}/greetings/defaults": {
      "get": {
        "operationId": "getGroupGreetingsDefaults",
        "summary": "Grabs the list of Default Greetings given a Group's ID",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          }
        ]
      },
      "put": {
        "operationId": "putGroupGreetingsDefaults",
        "summary": "Updates the DefaultGreetingList of the specified Group",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "type": null,
            "schema": {
              "$ref": "#/definitions/DefaultGreetingList"
            }
          }
        ]
      }
    },
    "/api/v2/groups/{groupId}/individuals": {
      "get": {
        "operationId": "getGroupIndividuals",
        "summary": "List group members",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          }
        ]
      }
    },
    "/api/v2/groups/{groupId}/members": {
      "post": {
        "operationId": "postGroupMembers",
        "summary": "Add members",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          }
        ]
      },
      "delete": {
        "operationId": "deleteGroupMembers",
        "summary": "Remove members",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          }
        ]
      }
    },
    "/api/v2/groups/{groupId}/profile": {
      "get": {
        "operationId": "getGroupProfile",
        "summary": "Get group profile",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "string",
            "schema": null
          }
        ]
      }
    },
    "/api/v2/groups/{groupId}/voicemail": {
      "get": {
        "operationId": "getGroupVoicemail",
        "summary": "Get group voicemail policy",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          }
        ]
      },
      "patch": {
        "operationId": "patchGroupVoicemail",
        "summary": "Update group voicemail policy",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          }
        ]
      }
    },
    "/api/v2/identityproviders/generic": {
      "get": {
        "operationId": "getIdentityprovidersGeneric",
        "summary": "Get Generic SAML Identity Provider",
        "parameters": []
      },
      "put": {
        "operationId": "putIdentityprovidersGeneric",
        "summary": "Update/Create Generic SAML Identity Provider",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "type": null,
            "schema": {
              "$ref": "#/definitions/GenericSAML"
            }
          }
        ]
      },
      "delete": {
        "operationId": "deleteIdentityprovidersGeneric",
        "summary": "Delete Generic SAML Identity Provider",
        "parameters": []
      }
    },
    "/api/v2/locations": {
      "get": {
        "operationId": "getLocations",
        "summary": "Get a list of all locations.",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "schema": null
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "type": "integer",
            "schema": null
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "type": "array",
            "schema": null
          },
          {
            "name": "sortOrder",
            "in": "query",
            "required": false,
            "type": "string",
            "schema": null
          }
        ]
      },
      "post": {
        "operationId": "postLocations",
        "summary": "Create a location",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "type": null,
            "schema": {
              "$ref": "#/definitions/LocationCreateDefinition"
            }
          }
        ]
      }
    },
    "/api/v2/locations/search": {
      "get": {
        "operationId": "getLocationsSearch",
        "summary": "Search locations using the q64 value returned from a previous search",
        "parameters": [
          {
            "name": "q64",
            "in": "query",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "type": "array",
            "schema": null
          }
        ]
      },
      "post": {
        "operationId": "postLocationsSearch",
        "summary": "Search locations",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "type": null,
            "schema": {
              "$ref": "#/definitions/LocationSearchRequest"
            }
          }
        ]
      }
    },
    "/api/v2/locations/{locationId}": {
      "get": {
        "operationId": "getLocation",
        "summary": "Get Location by ID.",
        "parameters": [
          {
            "name": "locationId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "type": "array",
            "schema": null
          }
        ]
      },
      "delete": {
        "operationId": "deleteLocation",
        "summary": "Delete a location",
        "parameters": [
          {
            "name": "locationId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          }
        ]
      },
      "patch": {
        "operationId": "patchLocation",
        "summary": "Update a location",
        "parameters": [
          {
            "name": "locationId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "type": null,
            "schema": {
              "$ref": "#/definitions/LocationUpdateDefinition"
            }
          }
        ]
      }
    },
    "/api/v2/locations/{locationId}/sublocations": {
      "get": {
        "operationId": "getLocationSublocations",
        "summary": "Get sublocations for location ID.",
        "parameters": [
          {
            "name": "locationId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          }
        ]
      }
    },
    "/api/v2/oauth/clients": {
      "get": {
        "operationId": "getOauthClients",
        "summary": "The list of OAuth clients",
        "parameters": []
      },
      "post": {
        "operationId": "postOauthClients",
        "summary": "Create OAuth client",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "type": null,
            "schema": {
              "$ref": "#/definitions/OAuthClientRequest"
            }
          }
        ]
      }
    },
    "/api/v2/oauth/clients/{clientId}": {
      "get": {
        "operationId": "getOauthClient",
        "summary": "Get OAuth Client",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          }
        ]
      },
      "put": {
        "operationId": "putOauthClient",
        "summary": "Update OAuth Client",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "type": null,
            "schema": {
              "$ref": "#/definitions/OAuthClientRequest"
            }
          }
        ]
      },
      "delete": {
        "operationId": "deleteOauthClient",
        "summary": "Delete OAuth Client",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          }
        ]
      }
    },
    "/api/v2/oauth/clients/{clientId}/secret": {
      "post": {
        "operationId": "postOauthClientSecret",
        "summary": "Regenerate Client Secret",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          }
        ]
      }
    },
    "/api/v2/oauth/clients/{clientId}/usage/query": {
      "post": {
        "operationId": "postOauthClientUsageQuery",
        "summary": "Query for OAuth client API usage",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "type": null,
            "schema": {
              "$ref": "#/definitions/ApiUsageClientQuery"
            }
          }
        ]
      }
    },
    "/api/v2/oauth/clients/{clientId}/usage/query/results/{executionId}": {
      "get": {
        "operationId": "getOauthClientUsageQueryResult",
        "summary": "Get the results of a usage query",
        "parameters": [
          {
            "name": "executionId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          }
        ]
      }
    },
    "/api/v2/oauth/clients/{clientId}/usage/summary": {
      "get": {
        "operationId": "getOauthClientUsageSummary",
        "summary": "Get a summary of OAuth client API usage",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "days",
            "in": "query",
            "required": false,
            "type": "string",
            "schema": null
          }
        ]
      }
    },
    "/api/v2/organizations/me": {
      "get": {
        "operationId": "getOrganizationsMe",
        "summary": "Get organization details for the currently authenticated tenant",
        "parameters": []
      }
    },
    "/api/v2/responsemanagement/responses": {
      "get": {
        "operationId": "getResponsemanagementResponses",
        "summary": "Gets a list of existing responses.",
        "parameters": [
          {
            "name": "libraryId",
            "in": "query",
            "required": true,
            "type": "string",
            "schema": null
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "type": "integer",
            "schema": null
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "schema": null
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
[...]
